<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.system.mapper.SysRoleMapper">

    <resultMap type="com.divine.system.domain.vo.SysRoleVo" id="SysRoleResult">
    </resultMap>

    <sql id="selectRoleVo">
        select distinct result.role_id,
                        result.role_name,
                        result.role_key,
                        result.role_sort,
                        result.data_scope,
                        result.menu_check_strictly,
                        result.dept_check_strictly,
                        result.status,
                        result.del_flag,
                        result.create_time,
                        result.remark
        from sys_role result
                left join sys_user_role sur on sur.role_id = result.role_id
                left join sys_user u on u.user_id = sur.user_id
                left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectPageRoleList" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectRoleList" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectRolePermissionByUserId" parameterType="Long" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE result.del_flag = '0' and sur.user_id = #{userId}
    </select>

    <select id="selectRoleListByUserId" parameterType="Long" resultType="Long">
        select result.role_id
        from sys_role result
                 left join sys_user_role sur on sur.role_id = result.role_id
                 left join sys_user u on u.user_id = sur.user_id
        where u.user_id = #{userId}
    </select>

    <select id="selectRolesByUserId" parameterType="Long" resultMap="SysRoleResult">
        select result.role_id,
                result.role_name,
                result.role_key,
                result.role_sort,
                result.data_scope,
                result.status
        from sys_role result
        WHERE result.del_flag = '0' and result.role_id in (select role_id from sys_user_role where user_id = #{userId})
    </select>

    <select id="selectRoleById" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE result.del_flag = '0' and result.role_id = #{roleId}
    </select>

</mapper>
