<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.divine.warehouse.mapper.InventoryHistoryMapper">

    <select id="selectVoPageByBo" resultType="com.divine.warehouse.domain.vo.InventoryHistoryPageVo">
        select
        history.biz_id,
        history.biz_no,
        history.biz_type,
        history.warehouse_id,
        w.warehouse_name,
        history.after_quantity,
        history.before_quantity,
        history.quantity,
        history.unit_price,
        history.create_time,
        item.item_no,
        item.item_name,
        sku.id as sku_id,
        sku.sku_no,
        sku.sku_name
        from wms_inventory_history history
        left join wms_item_sku sku on history.sku_id=sku.id
        left join wms_item item on sku.item_id=item.id
        left join wms_warehouse w on history.warehouse_id=w.id
        <where>
            <if test="dto.bizType != null">
                history.biz_type=#{dto.bizType}
            </if>
            <if test="dto.bizNo != null and dto.bizNo != ''">
                and history.biz_no=#{dto.bizNo}
            </if>
            <if test="dto.itemName != null and dto.itemName != ''">
                and item.item_name like concat('%', #{dto.itemName}, '%')
            </if>
            <if test="dto.itemNo != null and dto.itemNo != ''">
                and item.item_no like concat('%', #{dto.itemNo}, '%')
            </if>
            <if test="dto.skuName != null and dto.skuName != ''">
                and sku.sku_name like concat('%', #{dto.skuName}, '%')
            </if>
            <if test="dto.skuId != null">
                and sku.id = #{dto.skuId}
            </if>
            <if test="dto.skuNo != null and dto.skuNo != ''">
                and sku.sku_no like concat('%', #{dto.skuNo}, '%')
            </if>
            <if test="dto.warehouseId != null">
                and history.warehouse_id=#{dto.warehouseId}
            </if>
            <if test="dto.startTime != null and dto.startTime != '' and dto.endTime != null and dto.endTime != ''">
                and (history.create_time between #{dto.startTime} and #{dto.endTime})
            </if>
        </where>
        order by history.create_time desc
    </select>
</mapper>
